body {
    background-color: #ffffff;
}
.container {
    width: 40%;
    margin-left: 30%;
    margin-top: 150px;
    display: inline-block;
}
.column {
    width: 50%;
    float: left;
}
.column > h1 {
    font-size: 57pt;
    font-family: 'Impact';
    color:#279CEF;
    margin: 0;
    font-weight: lighter;
}
.text {
    color: #5F5F5F;
    font-size: 28pt;
    font-family: Impact;
    margin-top: 0;
    text-transform: uppercase;
}
.btn {
    font-family: Verdana;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #279CEF;
    border: solid 1px #279CEF;
    border-radius: 25px;
    padding: 7px 25px;
}
.container > img {
    width: 50%;
    float: left;
}